# Files without extension
*
!*.*
!*/
!makefile

# Temporary files
*~
*.tmp.nlogo

# Compiled files
*.o
*.class

# Executables
*.out

# Eclipse
.metadata/
.recommenders/
.project
.classpath

# Programmation concurente et répartie
!calculC.o