grant
{
	//permission java.net.SocketPermission "*:1024-65535","connect,accept";
	//permission java.net.SocketPermission ":80","connect";
	permission java.security.AllPermission;
};

grant codeBase "file:/auto_home/tdigiovanni/Bureau/TP/M1/temp/server/"
{
	permission java.security.AllPermission;
};

grant codeBase "file:.${/}bin/"
{
	permission java.io.FilePermission "..${/}*", "read";
};