<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev_mobile_av.wear_tp2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <service
            android:name=".WearListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/Coordinates" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
            </intent-filter>
        </service>

    </application>

</manifest>