/.XtextExampleRuntimeModule.java._trace
/.XtextExampleRuntimeModule.xtendbin
/.XtextExampleStandaloneSetup.java._trace
/.XtextExampleStandaloneSetup.xtendbin
/XtextExampleRuntimeModule.java
/XtextExampleStandaloneSetup.java
